@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

/*font-family: "Roboto", sans-serif; */

.container {
  width: 1280px;
  margin-left: 100px;
  margin-right: 100px;
}
.page-header {
  margin-top: 63px;
  padding-bottom: 24px;
}
.header-title {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 80px;
  line-height: 94px;
  margin-bottom: 38px;
}
.title-link {
  text-decoration: none;
  color: #000000;
}
.extra-color {
  color: #4bcaff;
}
.menu-list {
  display: flex;
  justify-content: center;
  border: 1px solid #35444f;
  background-color: #35444f;
  margin: 0;
}
.list-item {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  list-style-type: none;
}
.list-link {
  color: #ffffff;
  text-decoration: none;
}

.item-programming {
  padding: 26px 33px 20px 33px;
  border-left: 1px solid #ffffff;
  border-right: 0 solid #ffffff;
}
.item-ramda {
  padding: 26px 38px 20px 36px;
  border-left: 1px solid #ffffff;
  border-right: 0 solid #ffffff;
}
.item-fantasy {
  padding: 26px 40px 20px 40px;
  border-left: 1px solid #ffffff;
  border-right: 0px solid #ffffff;
}
.item-node {
  padding: 26px 18px 20px 40px;
  border-left: 1px solid #ffffff;
  border-right: 1px solid #ffffff;
}
.page-main {
  padding-top: 24px;
}
.page-main .container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.aside-list {
  height: 400px;
  width: 344px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  border: 1px solid;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.aside-item {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 27px;
  line-height: 27px;
  padding-left: 44px;
  color: #495863;
}
.aside-ramda {
  padding-top: 26px;
}
.aside-why {
  padding-top: 27px;
  padding-bottom: 27px;
  color: #35444f;
}
.aside-difference {
  padding-bottom: 25px;
}
.aside-intoduction {
  padding-top: 25px;
  padding-bottom: 25px;
}
.aside-philosophy {
  padding-top: 25px;
  padding-bottom: 30px;
}
.image-wrapper {
  border: 1px solid;
  padding: 75px 268px 73px 297px;
}
.article-main {
  width: 885px;
  margin-left: 396px;
}

.paragraph {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #2c2c2c;
  margin-bottom: 0;
}
.paragraph-origin {
  margin-bottom: 34px;
}
.page-footer {
  padding-top: 54px;
}
.menu-list-footer {
  display: flex;
  border: 1px solid;
  justify-content: space-evenly;
  background: rgba(99, 105, 110, 0.48);
}
.list-menu-footer {
  list-style-type: none;
  padding-top: 20px;
  padding-bottom: 20px;
}
.link-menu-footer {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 28px;
  line-height: 28px;
  color: #0c1927;
}
.list-menu-footer-philosophy {
  padding-right: 135px;
}

.image-main {
  transition: transform 0.5s;
}
.image-main:hover {
  transform: scale(1.4);
}
.item-ramda:hover {
  background: #222f3a;
}
.aside-why:hover {
  color: #000000;
  background-color: #dbdbdb;
}
.why-ramda-footer:hover {
  color: #3181a6;
  text-decoration: underline;
  text-decoration-color: #3181a6;
}
